/* CSS */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ddd;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navbar-items {
    display: flex;
    justify-content: space-between;
    gap: 40px; /* create equal space between the navbar items */
    list-style: none; /* remove bullet points */
    padding: 0; /* remove padding */
    margin-right: auto; /* push all other elements to the right */
}
.navbar-item {
    display: flex;
    align-items: center; /* center items vertically */
}

.navbar-link {
    text-decoration: none;
    color: #333;
    font-weight: bold; /* make text bold */
    font-family: Arial, sans-serif; /* change font */
}

.home-link {
    display: flex;
    align-items: center;
    margin-right: auto; /* push all other elements to the right */
}

.container ul {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* align items to the right */
}

.profile-icon {
    width: 30px; /* adjust as needed */
    height: 30px; /* adjust as needed */
    margin-right: 5px; /* space between the icon and the username */
    position: relative;
    top: 10px; /* adjust as needed */
}
.username {
    position: relative;
    top: -5px; /* adjust as needed */
}

.home-link {
    display: flex;
    align-items: center;
    margin-right: auto; /* push all other elements to the right */
    font-weight: bold; /* make text bold */
    font-family: Arial, sans-serif; /* change font */
    text-decoration: none; /* remove underline */
}

p {
    margin: 20px; /* adjust as needed */
}